.related{ height:100px;
		width:100px; 
		opacity:0.3;
		border-radius:50px;}
.related-artists { width:500px; }

.related:hover{opacity:1;}

img.artist-img{ height:100px;
					border-radius:10px; }
					
.header h1{ color:white; }

#track{color:white;}





